<mat-toolbar style="background-color: rgba(49,133,35,0.94)" xmlns="http://www.w3.org/1999/html">
  <mat-toolbar-row>
    <span>Calculadora Plano de Saude</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container d-flex mt-3 mb-5">
  <h1>Simulador de Contribuição - Plano Principal (ainda em tramitação na AL/RS)</h1>
</div>

<div class="container d-flex">


  <form [formGroup]="submitForm" #documentEditForm="ngForm" style="width: inherit" novalidate>
    <div class="col-12">

      <div class="row">
        <h1>Dados do Titular</h1>
      </div>

      <div class="row">
        <div class="col-12">

          <div class="col-8">
            <mat-form-field appearance="outline">
              <mat-label>Salário de Contribuição *</mat-label>
              <input matInput placeholder="R$">
            </mat-form-field>
          </div>

          <div class="col-8">
            <mat-form-field appearance="outline">
              <mat-label>Idade</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <h1>Dependentes</h1>
      </div>

      <div class="row">

        <div class="col-12">

          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Favorite food</mat-label>
              <mat-select>
                <mat-option *ngFor="let name of grauDependencia" [value]="name.nome"
                            style="font-size: 13px; height: 35px">
                  {{name.nome}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Idade</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <button class="col-10" style="height: 5vh; background-color: rgba(49,133,35,0.92)" mat-raised-button (click)="teste()" >CALCULAR</button>
      </div>
    </div>
  </form>
</div>

