.mat-form-field {
  width: inherit;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 110, 2, 0.8);
}

.result-list {
  margin-top: 20px;
}

.result-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.result-label {
  font-weight: bold;
  margin-right: 10px;
}
